<h1>New public key</h1>

<h2>Create</h2>
<% form_for([@repository, @public_key]) do |f| %>

  <%= render :partial => 'form', :locals => { :f => f } %>
  
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<% if @repository %>
  <h2>Add existing</h2>
  <% form_tag(add_public_key_repository_path(@repository), :method => :put) do %>

    <p>
      <%= select_tag :public_key_id, public_keys_for_select %>
    </p>

    <p>
      <%= submit_tag 'Add' %>
    </p>
  <% end %>

  <%= link_to 'Back', @repository %>
<% end %>