<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
<head>
<title>Gitosis web admin</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<meta name="robots" content="NOINDEX,NOFOLLOW" />
	<meta name="language" content="en" />

	<%= stylesheet_link_tag 'reset', 'styles' %>

  <!--[if IE 6]>
  	<%= stylesheet_link_tag 'ie6.css' %>
  <![endif]-->
  <!--[if IE 7]>
  	<%= stylesheet_link_tag 'ie7.css' %>
  <![endif]-->

</head>
<body>
  <div id="header">
    <h1>Gitosis web admin &rarr;</h1>
    <ul id="navigation">
      <li><%= link_to 'Repositories', repositories_url %></li>
      <li><%= link_to 'Public keys', public_keys_url %></li>
    </ul>
  </div>

	<div id="content">
    <% if flash[:notice] %>
      <div id="flash_notice"><%= flash[:notice] %></div>
    <% end %>

		<%= yield %>

	</div>

</body>
</html>

